{% extends 'main/base.html' %}

{% block title %}Материалы об интернете{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>Безопасное пользование интернетом</h1>
    <p>Вы можете посмотреть видео или прочитать статью</p>

    <div class="button-grid">
        <a href="{% url 'page2' %}" class="main-btn">
            <span>смотреть видео</span>
        </a>
        <a href="{% url 'page4' %}" class="main-btn">
            <span>читать статью</span>
        </a>
    </div>
</div>
{% endblock %}