{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>Добро пожаловать на EasyAid!</h1>
    <p>Советы о том как не стать жертвой мошенничества и безопасно пользоваться интернетом</p>

    <div class="button-grid">
        <a href="/group1/" class="main-btn">
            <span>Как распознать мошенников</span>
        </a>
        <a href="/group2/" class="main-btn">
            <span>Безопасное пользование интернетом</span>
        </a>
    </div>
</div>
{% endblock %}