{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Как не стать жертвой мошенничества?</h1>


    <!-- Секция с видео -->
    <div class="video-section">

           <iframe
               src="https://vkvideo.ru/video_ext.php?oid=-235747061&id=456239018&hash=17275f9451c967ae&hd=3"
             width="100%" height="300" allow="autoplay; encrypted-media; fullscreen;
            picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen>
           </iframe>

</div>
    <!-- Кнопка перехода на тест -->
    <div class="test-promo-section">
        <div class="test-promo">
            <h3>Проверьте свои знания!</h3>
            <p>После изучения материалов пройдите тест, чтобы закрепить знания</p>
            <a href="{% url 'test' %}" class="test-promo-btn">Пройти тест</a>
        </div>
    </div>
</div>
{% endblock %}