{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Безопасное пользование интернетом.</h1>

    <!-- Секция с видео -->
    <div class="video-section">
        <h2>Советы о том, как безопасно пользоваться интернетом</h2>
        <div class="video-responsive-container">
            <iframe 
                src="https://vkvideo.ru/video_ext.php?oid=-235747061&id=456239017&hash=0ee516a8a71247d7&hd=3"
                allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" 
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <!-- Кнопка перехода на тест -->
    <div class="test-promo-section">
        <div class="test-promo">
            <h3>Проверьте свои знания!</h3>
            <p>После изучения материалов пройдите тест, чтобы закрепить знания</p>
            <a href="{% url 'test_internet' %}" class="test-promo-btn">Пройти тест</a>
        </div>
    </div>
</div>
{% endblock %}
